*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro-linha{
    display: flex;
}
.tabuleiro-casa{
    height: 70px;
    width: 70px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.tabuleiro-casa img{
    width: 100%;
}
.color-1{
    background-color: #a68c69;
}
.color-2{
    background-color:#594433; ;
}

.peao-preto-1,
.peao-preto-2,
.peao-preto-3,
.peao-preto-4,
.peao-preto-5,
.peao-preto-6,
.peao-preto-7,
.peao-preto-8{
    background-image: url(./assets/black_pawn.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.peao-branco-1,
.peao-branco-2,
.peao-branco-3,
.peao-branco-4,
.peao-branco-5,
.peao-branco-6,
.peao-branco-7,
.peao-branco-8{
    background-image: url(./assets/white_pawn.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

.torre-preta-1,
.torre-preta-2{
    background-image: url(./assets/black_rook.svg);
    background-repeat: no-repeat;
    background-size: 100% ;

}
.torre-branca-1,.torre-branca-2{
    background-image: url(./assets/white_rook.svg);
    background-repeat: no-repeat;
    background-size: 100% ;

}


.cavalo-preto-1,.cavalo-preto-2{
    background-image: url(./assets/black_knight.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

.cavalo-branco-1,.cavalo-branco-2{
    background-image: url(./assets/white_knight.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.bispo-preto-1,.bispo-preto-2{
    background-image: url(./assets/black_bishop.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.bispo-branco-1,.bispo-branco-2{
    background-image: url(./assets/white_bishop.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.rei-preto{
    background-image: url(./assets/black_king.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.rei-branco{
    background-image: url(./assets/white_king.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.rainha-preta{
    background-image: url(./assets/black_queen.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.rainha-branca{
    background-image: url(./assets/white_queen.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}